<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl" runoob-directive>
    <!--<button ng-click="count = count + 1">点我！</button>-->
    <!--<p>{{count}}</p>-->

    <button ng-click="toggle()">隐藏/显示</button>
    <p ng-hide="myVar">
        名：<input type="text" ng-model="firstName">
        姓：<input type="text" ng-model="lastName">
        姓名：{{firstName + lastName}}
    </p>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        // $scope.count = 0;
        $scope.firstName = "John";
        $scope.lastName = 'Dne';
        $scope.myVar = false;
        $scope.toggle = function () {
            $scope.myVar = !$scope.myVar;

        }
    });
    //指令
    app.directive("runoobDirective", function() {
        return {
            template : "我在指令构造器中创建!"
        };
    });
</script>

</body>
</html>
